{{ block "top" . }}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Questrial&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://z-events.ro">
          <img
            class="ml-4"
            src="https://via.placeholder.com/150"
            alt="Bulma: a modern CSS framework based on Flexbox"
          />
        </a>
        <div class="navbar-burger burger" data-target="navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/"> Acasă </a>
          <a class="navbar-item" href="/#about"> Despre noi </a>
          <a class="navbar-item" href="/#social"> Social </a>
          {{if .User}}
          <a class="navbar-item" href="/profile"> {{.User}} </a>
          <a class="navbar-item" href="/logout"> Logout </a>
          {{end}}
        </div>
      </div>
    </nav>
    {{ end }} {{ block "bottom" . }}
    <script>
      // The following code is based off a toggle menu by @Bradcomp
      // source: https://gist.github.com/Bradcomp/a9ef2ef322a8e8017443b626208999c1
      (function () {
        var burger = document.querySelector(".burger");
        var menu = document.querySelector("#" + burger.dataset.target);
        burger.addEventListener("click", function () {
          burger.classList.toggle("is-active");
          menu.classList.toggle("is-active");
        });
      })();
    </script>
  </body>
</html>
{{ end }}
