{{ block "loginPage" . }} {{ template "top" .}} {{ block "loginContainer" .}}
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Autentificare</h3>
        <hr class="login-hr" />
        <p class="subtitle has-text-black">
          Te rog să te autentifici pentru a continua.
        </p>
        <div class="box">
          <figure class="avatar">
            <img src="https://via.placeholder.com/150" />
          </figure>
          <form hx-post="/login?csrf={{.CSRF}}">
            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  name="email"
                  type="email"
                  placeholder="Email-ul tău"
                  autofocus=""
                />
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  class="input is-large"
                  name="pass"
                  type="password"
                  placeholder="Parola"
                />
              </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">
              Autentificare <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/register">Înregistrare</a> &nbsp;&nbsp;
          <a href="/forget">Ai uitat parola?</a> &nbsp;&nbsp;
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ template "bottom" }} {{ end }}
